.printed-details__message
  text-align center
  margin 0

.printed-details
  border-bottom 1px solid rgba(58, 57, 55, 0.16)
  height 53px
  
.printed-details__options
  display flex
  justify-content space-between
  align-items center