layout(title="Publicar impresos (20 disponibles)", :breadcrumb="breadcrumbList")
    .printed-details
        .main-content__padding
            .printed-details__options
                el-checkbox
                p.printed-details__message Tienes 4 avisos a publicarse el Domingo 4 de Junio en Clasificados de El Comercio                
                el-button(type="primary") Publicar            
    el-row.table-container      