{
  "presets": [
    ["latest", {
      "es2015": { "modules": false }
    }]
  ],
  "plugins": [["component", [
    {
      "libraryName": "element-ui",
      "styleLibraryName": "../../../src/concessionaire/library/toolbox/element-modifiers/my-theme"
    }
  ]], "syntax-dynamic-import", 'transform-object-rest-spread'],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
