layout(title="Mi Perfil", :breadcrumb="breadcrumbList", :slcTypeVehicle="true")
    el-row.profile__details(:gutter='100')
        .main-content__padding
            el-col(:sm="24", :md="24")
                icon-svg(name="404")
                h1 Error de Página 404