.profile__details
    border-bottom 1px solid #ddd
    margin-bottom 20px
    padding-bottom 20px

    .el-col
        display flex
    p
        margin-top 10px
        font-size 15px

.profile__details-list
    list-style none
    font-size 17px
    margin-top 5px
    margin-bottom 0
    line-height 1.3
    span
        color #aaa

.profile__details-img
    min-width 108px
    height 74px
    overflow hidden
    border 1px solid #999A9B
.profile__form-mandatory
    margin-top 0
    font-size 14px
    margin-right 15px
    text-align right
.el-select
    display block

.loading-background
    &__mask        
        height 18px
        position absolute        
        z-index 1
    .profile-img
        width 110px
        height 75px
        top 25px
        left 30px
    .profile-detail
        width 350px
        height 30px
        top 25px
        left 180px
        &
            +            
                top 70px
    .profile-contact
        top 25px        
        right 50px
        width 250px
        &
            +
                .profile-contact 
                    top 60px
    hr
        width 100%
        border 0
        border-bottom 2px solid #ececec
        height 1px
        top 110px
        position absolute