.main-menu
    background-color #2e2e2e
    min-height 100vh
    position fixed
    left 0
    top 0
    width 110px
    &__logo
        i
            width 40px
            display block
            padding 15px 0
            margin auto

            +above(1300px)
                padding 20px 0
                width 50px